@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Open Sans', system-ui, sans-serif;
  }
}

.text-gradient {
  background: linear-gradient(270.26deg, #e4d723 6.61%, #16fff1 93.06%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  background: linear-gradient(72.43deg, #2943de 16.09%, #5d73f5 82.08%, #687dfe 108.77%);
}

.btn-primary-gradient {
  background: linear-gradient(90deg, #6f64f5 0%, #ce49cf 74.73%, #f46f66 121.6%);
}

.btn-option-gradient {
  background: linear-gradient(72.43deg, #2943de 16.09%, #5d73f5 82.08%, #687dfe 108.77%);
}
